PORT=3000
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=codeah_user
DB_PASSWORD=codeah_password
DB_NAME=codeah_db

JWT_SECRET=super_secret_jwt_key_change_in_production_2026
JWT_EXPIRES_IN=1d

INITIAL_ADMIN_EMAIL=admin@codeah.com
INITIAL_ADMIN_PASSWORD=AdminPass123!
